/*GENERAL*/
:root{
    --c92-bg-header:#ffffff;
    --c92-bg-call-to-action:#1b72e8;
    --c92-bg-main-content:#f8f9fa;
    --c92-bg-sidebar:#051e34;
    --c92-bg-btn-call-to-action:#165bba;
}

.debug{
    border: 1px solid red;

}

.c92-wrapper{
    width: 100vw;
    height: 100vh;
    
}
/*/GENERAL*/
header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: var(--c92-bg-header);
}
nav{
    width: 100%;
}
main{
    padding-top: 70px;
    height: 100%;
    
}
#c92-sidebar{
    width: 180px;
    height: 100%;
    background-color: var(--c92-bg-sidebar);
    background-image: url(../img/sidebar-bg.png);
}
#c92-main-content{
    width: calc(100% - 180px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--c92-bg-main-content);
}
/*c92 class header*/
.c92-logo-mob{
    width: 180px;
    display: none;
}
.c92-logo-mob img{
    width: 50px;
}

/*.c92-bar-search{
    width: calc(100% - ...);
}*/

/*/c92 class header*/

/*c92 class sidebar*/

.c92-nav a{
    text-decoration: none;
}
.c92-nav:hover a{
    background-color: grey;

}
/*/c92 class sidebar*/

/*c92 #call-to-action*/
#c92-call-to-action{
    background-color: #1b72e8;
}
.c92-btn-call-to-action{
    background-color: var(--c92-bg-btn-call-to-action);
}
/*/c92 #call-to-action*/

/*c92 #c92-box-stats*/
.c92-td-w{
    width: 70%;
}
.c92-td-w img{
    width: 22px;
}
.c92-btn-accordion{
    color: black !important;
}
/*/c92 #c92-box-stats*/

/*c92 @media*/
@media screen and (max-width: 1160px){
    #c92-logo{
        display: none;
    }
    .c92-logo-mob{
        display: block;
    }
    .c92-d-none-icon{
        display: none;
    }
}

/*/c92 @media*/
